$section-message-bg: #2a2647;

.row {
    // remove padding for custom columns
    &.padding-off {
        margin-left: 0;
        margin-right: 0;
        div[class^="col"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.main-content {
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 53px;
        background-color: #2a2647;
        content: "";
    }
    // Custom container
    .container {
        @media (min-width: 768px) {
            width: 750px;
        }
        @media (min-width: 992px) {
            width: 970px;
        }
        @media (min-width: 1200px) {
            width: 1140px;
        }
    }
}

.section-message {
    padding: rem-calc(40 0 35);
    background-color: $section-message-bg;
}

.section-text-wrap {
    @extend %clearfix;
    .section-text {
        font-size: rem-calc(30);
        font-weight: $font-bold;
        color: $white;
    }
}
.section-form {
    background-color: #777;
    padding: rem-calc(20 0);
    background: url(../images/section-form-bg.jpg) 0 0 no-repeat;
    .section-form-title {
        margin-bottom: rem-calc(20);
        font-size: rem-calc(48);
        font-weight: $font-bold;
        color: $white;
        font-family: $proxima-bold;
        text-align: center;
    }
    .form-wrapper {
        max-width: rem-calc(657);
        margin: 0 auto;
        @media screen and (max-width: 768px) {
            max-width: 100%;
        }
    }
}

.form-row {
    margin-bottom: rem-calc(6);
    font-size: 0;
    @media screen and (max-width: 768px) {
        margin-bottom: 0;
    }
    &.half {
        .form-control {
            width: rem-calc(325);
            display: inline-block;
            vertical-align: top;
             @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 6px;
            }
            & + * { 
                margin-left: 7px; 
                @media screen and (max-width: 768px) {
                    margin-left: 0;
                }
            }
        }
    }
}

.section-gallery {
    padding: rem-calc(45 0 80);
    // remove padding for custom columns
    [class*="col-"] { padding: rem-calc(0 5); }

    .gallery-title {
        font-size: rem-calc(48);
        font-weight: $font-bold;
        color: $main-color;
    }

    .gallery-item {
        position: relative;
        min-height: rem-calc(395);
        margin-bottom: rem-calc(11);
        text-align: center;
        &:before {
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            border: 1px solid $white;
            content: "";
            opacity: 0;
            will-change: -webkit-transform;
            will-change: transform;
            pointer-events: none;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            transition: all .35s ease-out;
        }
        &:hover:before {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        img { width: 100%; }
        &.fixed-height {
            min-height: rem-calc(190);
        }
        .gallery-caption {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: rem-calc(44);
            color: $white;
            font-weight: $font-bold;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}



