.post-area {
	margin-top: rem-calc(53);
}

.post {
	margin-bottom: rem-calc(20);
	.image-post img {
		width: 100%;
		max-height: 260px;
	}

	.entry-header {
		margin-bottom: rem-calc(20);
		padding: rem-calc(50 50 0 50);
		.entry-title {
			margin-bottom: rem-calc(10);
			font-size: rem-calc(33);
			color: $main-color;
		}
	}
	.entry-content {
		position: relative;
		padding: rem-calc(0 50 0 150);
		font-size: rem-calc(14);
	}
}

