// Colors
$main-color: #2a2647;
$main-color-darker: #009a9a;
$main-text-color: #415959;

$secondary-color: #4ab848;
$secondry-color-darker: #42a541;

$white: #ffffff;
$body-bg: $white;

$footer-bg: #2a2647;
$footer-text-color: #dbdbdb;

$back-top-bg: $main-color-darker;
$back-top-icon: #edeeee;

// Social Icons
$facebook: #3e7ed6;
$twitter: #1a8bf0;
$youtube: #e62117;
$google: #ff3d00;

// Font
$proxima-light: "ProximaNovaCond-Light", sans-serif;
$proxima-regular: "ProximaNova-Regular", sans-serif;
$proxima-bold: "ProximaNova-Bold", sans-serif;
$proxima-extrabold: "ProximaNova-Extrabld", sans-serif;

$body-font-family: $proxima-regular;
$font-extra-bold: 900;
$font-bold: 700;
$font-regular: 400;
$font-light: 300;

$fontello: "fontello";

