html {
    font-size: 16px;
}

body {
    background: $body-bg;
    color: $main-text-color;
    font-size: 14px;
    line-height: 1.4;
    font-family: $body-font-family;
    font-weight: 300;
}

img {
    display: block;
    max-width: 100%;
    margin: 0;
}

%clearfix {
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}
