$submenu-padding: 17px;
$primary-menu-font-size: 18px;
$hover-item-color-bg: #beb7c4;
$hove-item-color: #2a2647;
$submenu-bg: #fff;
$submenu-item-color: #2a2647;
$submenu-item-color-hover: #fff;
$submenu-item-bg-color-hover: #2a2647;

.menu {
    @extend %clearfix;
    display: block;
}

.primary-menu {
    & > .menu-item {
        position: relative;
        float: left;
        font-weight: $font-regular;
        transition: all .35s;
        & > a {
            position: relative;
            display: block;
            padding: rem-calc(45 17);
            font-size: $primary-menu-font-size;
            color: $white;
            transition: all .35s ease-in-out;
            #{".footer"} & { padding: rem-calc(35 17); }
        }
        &:hover > a,
        &.current-menu-item > a {
            color: $hove-item-color;
            background-color: $hover-item-color-bg;
        }
    }

    .menu-item {
        position: relative;
        &.has-sub {
            &:before {
                position: absolute;
                top: 50%;
                right: 3px;
                font-family: $fontello;
                font-size: 9px;
                color: $white;
                content: '\e802';
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            @media screen and (max-width: 768px) {
                &:before {
                    top: 20px;
                    right: 10px;
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }
        }
        @media screen and (min-width: 768px) {
            &:hover > .sub-menu {
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }
}
// Submenu
.sub-menu {
    position: absolute;
    margin-top: rem-calc(7);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    min-width: 200px;
    padding: $submenu-padding 0 $submenu-padding;
    background: $submenu-bg;
    -webkit-box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.75);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    transition: all .35s;
    &:before {
        position: absolute;
        top: -7px;
        left: 0;
        width: 100%;
        height: 7px;
        background: transparent;
        content: "";
    }
    .menu-item {
        a {
            display: block;
            color: $submenu-item-color;
            padding: rem-calc(7 20);
            transition: all .35s;
        }
        &:hover > a,
        &.current-menu-item > a {
            background-color: $submenu-item-bg-color-hover;
            color: $submenu-item-color-hover;
        }
    }

    // Third level and so on menu displaying
    .sub-menu {
        margin-top: 0;
        border-top: none;
        left: 100%;
        top: -$submenu-padding;
    }
}

// Mobile menu
.mobile-menu-icon {
    width: rem-calc(30);
    height: rem-calc(30);
    background: $main-color;
    font-size: rem-calc(30);
    color: $white;
    text-align: center;
    cursor: pointer;
    &:before {
        width: auto;
        height: auto;
        vertical-align: top;
        margin: auto;
        line-height: 30px;
        content: "=";
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .primary-menu {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 999;
        & > .menu-item {
            float: none;
            display: block;
            z-index: 10;
            margin-right: 0!important;
            background: $main-color;
            & > a {
                padding: 10px;
            }
        }
    }

    .sub-menu {
        border-top: none;
        display: none;
        visibility: visible;
        opacity: 1;
        position: relative;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        transition: none;
        .sub-menu {
            padding-left: 20px;
            left: 0;
            top: 0;
        }
    }
}


